<!DOCTYPE html>
<html>
<head>
  <title><%= myTitle  %></title>
  <meta charset="utf-8">
  <%= stylesheet_link_tag myCSS, media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body id="top">
<div class="wrapper row1">
  <header id="header" class="clear"> 
    <!-- ################################################################################################ -->
    <div id="logo" class="fl_left">
      <h1><img class="imgTitleLogo" src= <%= myLogo %> > <a href<%= link_to myTitle, home_path%></a></h1>
    </div>
    <!-- ################################################################################################ -->
    <nav id="mainav" class="fl_right">
      <ul class="clear">
		<%= li_actif(home_path) %><a href<%= link_to myHome, home_path%></a></li>
		<%= li_actif([coordinates_path,missions_path]) %><a class="drop" href="#">myFollow</a>
          <ul>
				<%= li_actif(coordinates_path) %><a href<%= link_to myRealTime, coordinates_path%></a></li>
				<%= li_actif(missions_path) %><a href<%= link_to myReplay, missions_path%></a></li>
          </ul>
        </li>
         <%= li_actif([teams_path,members_path]) %><a class="drop" href="#"><%= myAccount%> </a>
          <ul>
				<%= li_actif(teams_path) %><a href<%= link_to myTeam, teams_path%></a></li>
				<%= li_actif(members_path) %><a href<%= link_to myOwnInfo, members_path%></a></li>
          </ul>
        </li>
		<%= li_actif(robots_path) %><a href<%= link_to myContact, robots_path%></a></li>
      </ul>
    </nav>
  </header>
</div>

    <!-- container body -->
	<%= yield %>
    <!-- END container body -->


</div>

<div class="wrapper row5">
  <div id="copyright" class="clear"> 
    <!-- ################################################################################################ -->
	<p class="fl_left">MYR Project 2015 developed by <a href="<%= myENSTA_Bretagne_pach%>"  title="<%= myENSTA_Bretagne_logo %>"><%= myENSTA_Bretagne %></a></p>
    <p class="fl_right">Template by <a target="_blank" href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
    <!-- ################################################################################################ --> 
  </div>
</div>
</body>
</html>




