<%= form_for(@attempt) do |f| %>
  <% if @attempt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attempt.errors.count, "error") %> prohibited this attempt from being saved:</h2>

      <ul>
      <% @attempt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div><br>
  <div class="field">
    <%= f.label :start %>
    <%= f.datetime_select :start %>
  </div><br>
  <div class="field">
    <%= f.label :end %>
    <%= f.datetime_select :end %>
  </div><br>
  <div class="field">
    <%= f.label :robot_id %>
    <% if Robot.all!=nil %>
			<%= f.collection_select(:robot_id, Robot.all, :id, :name) %>
		<% end %>
  </div><br>
  <div class="field">
    <%= f.label :mission_id %>
    <% if Mission.all!=nil %>
			<%= f.collection_select(:mission_id, Mission.all, :id, :name) %>
		<% end %>
  </div><br>
  <!--need to check uniqueness, a tracker could be only used by a team in a moment-->
  <div class="field">
    <%= f.label :tracker_id %>
    <% if Tracker.all!=nil %>
			<%= f.collection_select(:tracker_id, Tracker.all, :id, :id ) %>
		<% end %>
  </div><br>
 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
