<%= form_for(@attempt) do |f| %>
  <% if @attempt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attempt.errors.count, "error") %> prohibited this attempt from being saved:</h2>

      <ul>
      <% @attempt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :start %><br>
    <%= f.datetime_select :start %>
  </div>
  <div class="field">
    <%= f.label :end %><br>
    <%= f.datetime_select :end %>
  </div>
  <div class="field">
    <%= f.label :robot_id %><br>
    <%= f.number_field :robot_id %>
  </div>
  <div class="field">
    <%= f.label :mission_id %><br>
    <%= f.number_field :mission_id %>
  </div>
  <div class="field">
    <%= f.label :tracker_id %><br>
    <%= f.number_field :tracker_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
