
<%= form_for(:attempt) do |f| %>
	<% if is_admin? %>
		<%= f.hidden_field :uploadxml_a_id, value:@a.id %>
		<%= f.hidden_field :upload_timestamp, value:Time.now %>
		<div class="field">
    <font color="blue">Upload area scanning json file</font><br />
		<% if @a.uploadjson.file != nil %>
			<i class="icon-file-text-alt"></i>
			<% filename = @a.uploadjson.file.original_filename %>
			<!--Rails.root+"/public"+desiredfilename -->
			<% fullname = @a.uploadjson.file.file %>
			<% ind_s=Rails.root.to_s.length+7 %>
			<%= link_to filename, fullname[ind_s,fullname.length] %><br />
		<% else %>
			no file uploaded
		<% end %>
    <%= f.file_field :uploadjson %>
  </div>
	<div class="actions">
    <%= f.submit "Save"%>
  </div>

		<% if @a.generated_filename !=nil%>
			<% filename= @a.generated_filename.split("/").last %>
			<!--Rails.root+"/public"+desiredfilename -->
			<% fullname =  @a.generated_filename %>
			<% ind_s=Rails.root.to_s.length+7 %>
			<%= link_to filename, fullname[ind_s,fullname.length] %><br />
		<% end %>
		<input type="button" value="Generate file" id="generate-xml-file"></input>
		<div id="generated-file"></div>
	<% end %>
<% end %>
