<% provide(:title, "Attempts | Index") %>
<p id="notice"><%= notice %></p>

<h1>Listing Attempts</h1>

<% if !current_user.nil? %>
  <% if heIsInTeam?(current_user.name) || is_admin? %>
    <table>
      <thead>
        <tr>
            <th class=column-member>Name
          <a href= attempts ><button id="sortbuttonT" name="AttemptN" onclick="myFunctionSort(this.name)" ><img src="/icons/a_z.png"></button></a>
          <a href= attempts ><button id="sortbuttonD" name="AttemptNbis" onclick="myFunctionSort(this.name)" ><img src="/icons/z_a.png"></button></a></th>
          <th>Start</th>
          <th>End</th>
            <th class=column-member>Robot
          <a href= attempts ><button id="sortbuttonT" name="AttemptR" onclick="myFunctionSort(this.name)" ><img src="/icons/a_z.png"></button></a>
          <a href= attempts ><button id="sortbuttonD" name="AttemptRbis" onclick="myFunctionSort(this.name)" ><img src="/icons/z_a.png"></button></a></th>
            <th class=column-member>Mission
          <a href= attempts ><button id="sortbuttonT" name="AttemptM" onclick="myFunctionSort(this.name)" ><img src="/icons/a_z.png"></button></a>
          <a href= attempts ><button id="sortbuttonD" name="AttemptMbis" onclick="myFunctionSort(this.name)" ><img src="/icons/z_a.png"></button></a></th>
            <th class=column-member>Tracker ID
          <a href= attempts ><button id="sortbuttonT" name="AttemptT" onclick="myFunctionSort(this.name)" ><img src="/icons/1_9.png"></button></a>
          <a href= attempts ><button id="sortbuttonD" name="AttemptTbis" onclick="myFunctionSort(this.name)" ><img src="/icons/9_1.png"></button></a></th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
          <% idAttempts = []%>
          <% @attempts.each do |attempt| %>
            <% idAttempts << attempt.id %>
          <% end %>
          <% allAttemptIdSort=sortId(idAttempts) %>
          <% if allAttemptIdSort != [] %>
            <% for ii in 0..(allAttemptIdSort.size-1) %>
              <% attempt=Attempt.find_by_id(allAttemptIdSort[ii]) %>
                <tr>
                  <td><%= link_to attempt.name, attempt %></td>
                  <td><%= attempt.start %></td>
                  <td><%= attempt.end %></td>
                  <td><%= link_to Robot.find_by_id(attempt.robot_id).name, Robot.find_by_id(attempt.robot_id) %></td>
                  <td><%= link_to Mission.find_by_id(attempt.mission_id).name, Mission.find_by_id(attempt.mission_id) %></td>
                  <td><%= attempt.tracker_id %></td>
                  <td><%= link_to 'Show', attempt %></td>
                  <% if is_leaderById(Robot.find(attempt.robot_id).team_id) || is_admin? %>
                    <td><%= link_to 'Edit', edit_attempt_path(attempt) %></td>
                    <td><%= link_to 'Delete', attempt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  <% end %>
                </tr>
            <% end %>
          <% end %>
      </tbody>
    </table>

    <br>

    <% if is_leader? || is_admin? %>
      <%= link_to 'New Attempt', new_attempt_path %>
    <% end %>

  <% else %>

    <h2>You need to be in a team to see your team's attempts.</h2>

  <% end %>
<% end %>

<script>

  function myFunctionSort(clicked_id) {
    $.cookie("Sort",clicked_id,{path:'/' });
  }
</script>
