<% provide(:title, "Attempts | Index") %>
<p id="notice"><%= notice %></p>
<%= stylesheet_link_tag 'layout/styles/dataTables.css', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'jquery.dataTables', 'data-turbolinks-track' => true %>
<h1>Listing Attempts</h1>

<% if !current_user.nil? %>
  <% if heIsInTeam?(current_user.name) || is_admin? %>
    <table id="datatable-attempt" class="dataTable display">
      <thead>
        <tr>
          <th>Name</th>
          <th>Start</th>
          <th>End</th>
          <th>Robot</th>
          <th>Mission</th>
          <th>Tracker ID</th>
          <th>Option</th>
        </tr>
      </thead>

      <tbody>
          <% idAttempts = []%>
          <% @attempts.each do |attempt| %>
            <% idAttempts << attempt.id %>
          <% end %>
          <% allAttemptIdSort=sortId(idAttempts) %>
          <% if allAttemptIdSort != [] %>
            <% for ii in 0..(allAttemptIdSort.size-1) %>
              <% attempt=Attempt.find_by_id(allAttemptIdSort[ii]) %>
                <tr>
                  <td><%= link_to attempt.name, attempt %></td>
                  <td><%= attempt.start %></td>
                  <td><%= attempt.end %></td>
                  <td><%= link_to Robot.find_by_id(attempt.robot_id).name, Robot.find_by_id(attempt.robot_id) %></td>
                  <td><%= link_to Mission.find_by_id(attempt.mission_id).name, Mission.find_by_id(attempt.mission_id) %></td>
                  <td><%= attempt.tracker_id %></td>
                 
                  <% if is_leaderById(Robot.find(attempt.robot_id).team_id) || is_admin? %>
                    <td><%= link_to 'Edit', edit_attempt_path(attempt) %> <%= ' | '%>
                    <%= link_to 'Delete', attempt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  <% end %>
                </tr>
            <% end %>
          <% end %>
      </tbody>
    </table>

    <br>

    <% if is_leader? || is_admin? %>
      <%= link_to 'New Attempt', new_attempt_path %>
    <% end %>

  <% else %>

    <h2>You need to be in a team to see your team's attempts.</h2>

  <% end %>
<% end %>

<script>
 $(document).ready( function () {
    $('#datatable-attempt').DataTable({
			paging: true

		});
} );
</script>
