<p id="notice"><%= notice %></p>

<% if !current_user.nil? %>
  <% if heIsInTeam?(current_user.name) || is_admin? %>

    <p>
      <strong>Name:</strong>
      <%= @attempt.name %>
    </p>

    <p>
      <strong>Start:</strong>
      <%= @attempt.start %>
    </p>

    <p>
      <strong>End:</strong>
      <%= @attempt.end %>
    </p>

    <p>
      <strong>Robot:</strong>
      <%= @attempt.robot_id %>
    </p>

    <p>
      <strong>Mission:</strong>
      <%= @attempt.mission_id %>
    </p>

    <p>
      <strong>Tracker:</strong>
      <%= @attempt.tracker_id %>
    </p>

    <% if is_leaderById(Robot.find(@attempt.robot_id).team_id) || is_admin? %>
      <%= link_to 'Edit', edit_attempt_path(@attempt) %> | <%= link_to 'Destroy', @attempt, method: :delete, data: { confirm: 'Destroy this attempt ?' } %> |
   <% end %>

   <% else %>

      <h2> You can not access this page. </h2>

  <% end %>
<% end %>
<%= link_to 'Back', attempts_path %>
