
<!--
Template Name: Cortex
Author: <a href="http://www.os-templates.com/">OS Templates</a>
Author URI: http://www.os-templates.com/
Licence: Free to use under our free template licence terms
Licence URI: http://www.os-templates.com/template-terms
-->

<% provide(:title, "WRSC 2015 Tracking ") %>
<body id="top">
<!-- ################################################################################################ --> 
<!-- ################################################################################################ --> 
<!-- ################################################################################################ -->

<!-- ################################################################################################ --> 
<!-- ################################################################################################ --> 
<!-- ################################################################################################ -->
<div class="wrapper bgded" style="background-image:url(/stylesheets/images/demo/backgrounds/sail.png);background-size: 100% 100%;">
<!--div class="wrapper bgded" style="background-image:url(/stylesheets/images/demo/backgrounds/url.png);"-->

	<div id="announce" class="clear"> 
	<!-- ########################################################################################## -->
	<div class="one_third first"><a href="<%= real_time_path%>"> <!--real time-->
	  <div class="hexagon" ><i class="icon-play-sign"></i>
		<p class="nospace"><strong>Real Time</strong><br>Click here to follow the WRSC 2015</p>
	  </div>
	</a></div>
	<div class="one_third "><a href="<%= replay_path%>"> <!--replay-->
	  <div class="hexagon"><i class="icon-calendar"></i>
		<p class="nospace"><strong>Replay</strong><br>Click here to replay an event of the WRSC 2015</p>
	  </div>
	</a></div>
  <div class="one_third "><a href="<%=signin_path%>"> <!--sign in up-->
    <div class="hexagon"><i class="icon-anchor"></i>
    <p class="nospace"><strong>Login or Sign Up</strong><br>If you are a competitor you can create an account to add/join your team</p>
    </div>
  </a></div>
	<!-- ########################################################################################## --> 
  </div>

</div>
<!-- ################################################################################################ --> 
<!-- ################################################################################################ --> 
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main id="container" class="clear"> 
    <!-- container body --> 
    <!-- ########################################################################################## -->
    <div class="clear center">
      <div class="one_third first">
        <div class="boxedicon"><a href="http://www.ensta-bretagne.eu/"><img class="imgSponsorLogo" src= /stylesheets/images/default/Logo_ENSTA_Bretagne.jpg ></div>
        <h2 class="nospace push15 uppercase"><strong>ENSTA Bretagne</strong></h2></a>
        <p>French Graduate and Post-graduate Engineering School and Research Institute based in Brest</p>
      </div>
      <div class="one_third">
        <div class="boxedicon"><a href="http://wrsc2015.com/"><img class="imgSponsorLogo" src= /stylesheets/images/default/Logo_WRSC.jpg ></div>
        <h2 class="nospace push15 uppercase"><strong>WRSC</strong></h2></a>
        <p>World Robotic Sailing Championship</p>
      </div>
	  <div class="one_third">
        <div class="boxedicon"><a href="http://www.ha.ax/text.con?iPage=28&iLan=1"><img class="imgSponsorLogo" src= /stylesheets/images/default/Logo_Aland2.png ></div>
        <h2 class="nospace push15 uppercase"><strong>Åland University</strong></h2></a>
        <p>University of Applied Sciences based in Åland</p>
      </div>
    </div>
	
    <!-- ########################################################################################## --> 
    <!-- / container body -->
    <div class="clear"></div>
  </main>
</div>
<!-- ################################################################################################ --> 
<!-- ################################################################################################ --> 
<!-- ################################################################################################ -->
<div class="wrapper row4">
  <footer id="footer" class="clear"> 
    <!-- ################################################################################################ -->
    <div class="one_half first">
      <h6 class="title">What is Monitor Your Robot ?</h6>
      <p>This site has been created by students of ENSTA Bretagne for the WRSC 2015 in Mariehamn and allows anyboby to track the robots during the competition.</p><br>
	  <h6 class="title">What is the WRSC ?</h6>
      <p>The WRSC is the World Robotic Sailing Championship. The 2015 edition takes place in Mariehamn, Åland, between the 1st and the 4th September.</p><br>
	  <h6 class="title">How can I follow the competition ?</h6>
      <p>To follow the WRSC 2015 in real time just click on the tab  <a href="<%= real_time_path %>"> Real Time </a> !</p>
    <h6 class="title">How do I use the site ?</h6>
      <p>If you need help for using the website, consult the <a href="<%= instructions_path %>"> instructions </a> page. Or if you did not find your answer, <a href=<%= contact_path %> title="Contact us">contact an administrator</a>.</p>
    </div>
    <div class="one_half">


      <h6 class="title">Lorem ipsum dolor</h6>
      <address class="push30">
      Company Name<br>
      Street Name &amp; Number<br>
      Town<br>
      Postcode/Zip
      </address>
      <ul class="nospace">
        <li class="push10"><i class="icon-time"></i> Mon. - Fri. 9:00am - 7:00pm</li>
        <li class="push10"><i class="icon-phone"></i> +00 (123) 456 7890</li>
        <li><i class="icon-envelope-alt"></i> info@domain.com</li>
      </ul>
    </div>
    <div class="one_quarter">
      <h6 class="title">Lorem ipsum dolor</h6>
      <ul class="faico clear">
        <li><a class="faicon-facebook" href="#"><i class="icon-facebook"></i></a></li>
        <li><a class="faicon-pinterest" href="#"><i class="icon-pinterest"></i></a></li>
        <li><a class="faicon-twitter" href="#"><i class="icon-twitter"></i></a></li>
        <li><a class="faicon-dribble" href="#"><i class="icon-dribbble"></i></a></li>
        <li><a class="faicon-linkedin" href="#"><i class="icon-linkedin"></i></a></li>
        <li><a class="faicon-google-plus" href="#"><i class="icon-google-plus"></i></a></li>
        <li><a class="faicon-skype" href="#"><i class="icon-skype"></i></a></li>
        <li><a class="faicon-rss" href="#"><i class="icon-rss"></i></a></li>
        <li><a class="faicon-bitcoin" href="#"><i class="icon-bitcoin"></i></a></li>
        <li><a class="faicon-dropbox" href="#"><i class="icon-dropbox"></i></a></li>
        <li><a class="faicon-flickr" href="#"><i class="icon-flickr"></i></a></li>
        <li><a class="faicon-instagram" href="#"><i class="icon-instagram"></i></a></li>
        <li><a class="faicon-tumblr" href="#"><i class="icon-tumblr"></i></a></li>
        <li><a class="faicon-vk" href="#"><i class="icon-vk"></i></a></li>
        <li><a class="faicon-youtube" href="#"><i class="icon-youtube"></i></a></li>
      </ul>
    </div>
    <!-- ################################################################################################ --> 
  </footer>
</div>
<!-- ################################################################################################ --> 
<!-- ################################################################################################ --> 
<!-- ################################################################################################ -->

</body>

