<% provide(:title, "Instructions") %>

<h1> Instructions to use the website </h1>

<h2> Purpose of the website </h2>

<p> This website is meant to allow everyone to watch the competition in <a href="<%= real_time_path %>"> real time </a> or to see the performance of each boat via the <a href="<%= replay_path %>"> replay </a> page. You do not need to register to the website if you are not a competitor or part of the organisation.</p>

<h2> I am a competitor and want to register </h2>

<p> This is very easy !  <a href="<%= new_member_path %>"> Sign up </a> to the website then join or create your <a href="<%= teams_path %>"> team </a> and invite your comrades.</p>

<p> If you have created your team, you are now the team leader. You have to create a <a href="<%= robots_path %>"> robot </a> for each robot you will present at the competition.</p>

<p> Then an administrator will give you a tracker id for each of your robot. Then the last step is to register your robot to the missions by creating an <a href="<%= attempts_path %>"> attempt </a>.</p>