<%= form_for(@coordinate) do |f| %>
  <% if @coordinate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coordinate.errors.count, "error") %> prohibited this coordinate from being saved:</h2>

      <ul>
      <% @coordinate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :datetime %><br>
    <%= f.datetime_select :datetime %>
  </div>
  <div class="field">
    <%= f.label :tracker_id %><br>
    <%= f.number_field :tracker_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
