<%= form_for(@coordinate) do |f| %>
  <% if @coordinate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coordinate.errors.count, "error") %> prohibited this coordinate from being saved:</h2>

      <ul>
      <% @coordinate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :latitude %>
    <%= f.text_field :latitude %>
  </div><br>
  <div class="field">
    <%= f.label :longitude %>
    <%= f.text_field :longitude %>
  </div><br>
  <div class="field">
    <%= f.label :datetime %>
    <%= f.datetime_select :datetime %>
  </div><br>
  <div class="field">
    <%= f.label :tracker_id %>
    <% if Tracker.all!=nil %>
        <%= f.collection_select(:tracker_id, Tracker.all, :id, :id) %>
    <% end %>
  </div><br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
