<% provide(:title, "Coordinate | show") %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Latitude:</strong>
  <%= @coordinate.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @coordinate.longitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @coordinate.speed %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @coordinate.course %>
</p>

<p>
  <strong>Datetime:</strong>
  <%= Time.parse(@coordinate.datetime).utc %>
</p>

<p>
  <strong>Tracker:</strong>
  <%= @coordinate.tracker_id %>
</p>

<% if is_admin? %>
	<%= link_to 'Edit', edit_coordinate_path(@coordinate) %> | <%= link_to 'Destroy', @coordinate, method: :delete, data: { confirm: 'Destroy this coordinate ?' } %> |
<% end %>
<%= link_to 'Back', coordinates_path %>
