    <% @teams.each do |team| %>
      <% if Robot.find_by_team_id(team.id) != nil %>
        <% if @tabteams.index(team.id.to_s) != nil  %>
          <input type="checkbox" name="team<%= team.id %>" id="<%= team.id %>"><b>Team: <%= team.name %></b>
        <% else %>
          <input type="checkbox" name="team<%= team.id %>" id="<%= team.id %>"> Team: <%= team.name %><br>
        <% end %>
        <%if @tabteams.index(team.id.to_s) != nil %>
          <%Robot.where(team_id: team.id).each do |rob|%>
          <% end %>
          <div>&nbsp;</div>
        <%end%>   
      <% end %>
    <% end %>
    <br>
		<button id="choose_robots" type="button">Select a Robot</button>
		<div id="choice_robots"></div>

