<p><u><b>Select Robots</b></u></p>
  <%@teams.each do |team| %>
    <% if Robot.find_by_team_id(team.id) != nil %>
      <%if @tabteams.index(team.id.to_s) != nil %>      
      	    
        <div><b> Robots of <%= team.name %></b></div>
       
        <% @tabrobots = Robot.where(team_id: team.id)%>
        <% @tabrobots.each do |robot| %>
        	
          <% if robot.missions != nil and robot.missions !=[]%>
            <input type="checkbox" name="robot<%= robot.id %>" id="<%= robot.id %>"><img src="/icons/medium<%=robot.tracker_id.to_s%>.png"/> <%= robot.name %><br>
          <% end %> 
        <% end %> 
        <div>&nbsp;</div>
      <%else%>
        <div>&nbsp;</div>
      <%end%>
    <%end%> 
	<%end%>

<div id="choose_replay_missions"></div>
<div id="choose_datetimes"></div>





