<br>
<img src="/step/step2F.png" height="50" width="150">
<p><u><b>Select Robots</b></u></p>

  <%@teams.each do |team| %>
    <% if Robot.find_by_team_id(team.id) != nil %>
      <%if @tabteams.index(team.id.to_s) != nil %>      
      	    
        <div><b> Robots of <%= team.name %></b></div>
       
        <% @tabrobots = Robot.where(team_id: team.id)%>
        <% @tabrobots.each do |robot| %>
        	
          <% if robot.missions != nil and robot.missions !=[]%>
            <input type="checkbox" name="robot<%= robot.id %>" id="<%= robot.id %>"><%= robot.name %><img src="/icons/medium<%=robot.id %>.png"/><br>
          <% end %> 
          <style>
          	input{
          		
          	}
          </style>
        <% end %> 
        <div>&nbsp;</div>
      <%else%>
        <div>&nbsp;</div>
      <%end%>
      
    <%end%> 
	<%end%>








