<%= form_for(@robot) do |f| %>
  <% if @robot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@robot.errors.count, "error") %> prohibited this robot from being saved:</h2>

      <ul>
      <% @robot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div id="content">
	<section class="round">
		<% flash.each do |key, value| %>
			<div id="monflash" class="flash <%= key %>"><%= value %></div>
		<% end %>
	</section>
	<%= yield %>
</div>
<p>
  <div class="field">
    <strong><%= f.label :name %><br></strong>
    <%= f.text_field :name %>
  </div>
    <div class="field">
    <strong><%= f.label :category %><br></strong>
    <%= f.select :category, ['Small','Medium','Big','Motor'] %>
  </div>
  
  <div class="field">
    <strong><%= f.label :team_id %><br></strong>
	<% if is_admin? %>
		<% if Team.all!=nil %>
			<%= f.collection_select(:team_id, Team.all, :id, :name) %>
		<% end %>
	<% else %>
		<% if myTeam!=nil %>
			<%= f.collection_select(:team_id, [myTeam], :id, :name)  %>
		<% end %>
	<% end %>
  </div>
	
	<% if is_admin? %>
	  <div class="field">
		<strong><%= f.label :tracker_id %><br></strong>
		<% allTrakersAvailable=[] %>
		<% allTrackers = [] %>
		<% allTrakersNotAvailable = [] %>
		<% if Tracker.first != nil  %>
			<% allTrackers = Tracker.ids %>
			<% if Robot.first != nil %>
				<% for i in Robot.ids %>
					<% if Robot.find(i) != nil %> 
						<% allTrakersNotAvailable <<  Robot.find(i).tracker_id %>
					<% end %>
				<% end %>
			<% end %>
			<% allTrakersAvailable = allTrackers - allTrakersNotAvailable %>
			<% if @robot.tracker_id != nil  %>
				<% allTrakersAvailable = [@robot.tracker_id] + [nil] + allTrakersAvailable  %>
			<% else %>
				<% allTrakersAvailable = [@robot.tracker_id] + allTrakersAvailable  %>
			<% end %>
		<% end %>
		<%= f.select :tracker_id, allTrakersAvailable %>
	  </div>
  <% end %>
 </p>
 <p>
  <div class="actions">
    <%= f.submit %>
  </div>
</p>
<% end %>
