<%= form_for(@robot) do |f| %>
  <% if @robot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@robot.errors.count, "error") %> prohibited this robot from being saved:</h2>

      <ul>
      <% @robot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div id="content">
	<section class="round">
		<% flash.each do |key, value| %>
			<div id="monflash" class="flash <%= key %>"><%= value %></div>
		<% end %>
	</section>
	<%= yield %>
</div>
<p>
  <div class="field">
    <strong><%= f.label :name %></strong>
    <%= f.text_field :name %>
  </div><br>
    <div class="field">
    <strong><%= f.label :category %></strong>
    <%= f.select :category, ['Small','Medium','Big','Motor'] %>
  </div><br>
  
  <div class="field">
    <strong><%= f.label :team_id %></strong>
	<% if is_admin? %>
		<% if Team.all!=nil %>
			<%= f.collection_select(:team_id, Team.all, :id, :name) %>
		<% end %>
	<% else %>
		<% if myTeam!=nil %>
			<%= f.collection_select(:team_id, [myTeam], :id, :name)  %>
		<% end %>
	<% end %>
  </div><br>
	
 </p>
 <p>
  <div class="actions">
    <%= f.submit %>
  </div>
</p>
<% end %>
