<% provide(:title, "Robots | Index") %>
<%= stylesheet_link_tag 'layout/styles/dataTables.css', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'jquery.dataTables', 'data-turbolinks-track' => true %>
<h1>List of robots</h1><br>
<% if sign_in? %>
	<% if is_leader? || is_admin? %>
		<%= link_to 'New Robot', new_robot_path %>
	<% end %>
<% end %>
<table  id="table_id" class="display">
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Team</th>
			<% if sign_in? %>
      <th  colspan="3"></th>
			<% end %>

	  <% if sign_in? %>
		<% if is_admin? %>
			<th class="column-sed" colspan="2"></th>
		<% end %>
	<% end %>
    </tr>
  </thead>

  <tbody>
    
	<% idRobs = []%>
    <% @robots.each do |robot| %>
		<% idRobs << robot.id %>
	<% end %>


	<% allRobotIdSort=sortId(idRobs) %>
	<% if allRobotIdSort != [] %>
		<% for ii in 0..(allRobotIdSort.size-1) %>
			<% robot=Robot.find_by_id(allRobotIdSort[ii]) %>
		  <tr>
			<td><%= link_to robot.name, robot %></td>
			<td><%= robot.category %></td>
			<td><%= link_to Team.find(robot.team_id).name, Team.find(robot.team_id) %></td>
			<% if sign_in? %>
				<% if is_admin? || is_leader(Team.find(robot.team_id).name) %>
					<td><%= (link_to 'Show', robot) + ' | ' + (link_to 'Edit', edit_robot_path(robot)) + ' | ' + (link_to 'Delete', robot, method: :delete, data: { confirm: 'Are you sure?' })  %></td>
				<% else %>
					<td><%= link_to 'Show', robot %></td>
				<% end %>
			<% end %>
		  </tr>
		<% end %>
    <% end %>
  </tbody>
</table>

<br>



<script>
$(document).ready( function () {
    $('#table_id').DataTable({
			paging: true
		});
} );
</script>
