<% provide(:title, "Robots | Show") %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @robot.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @robot.category %>
</p>

<p>
  <strong>Team:</strong>
  <%= @robot.team_id %>
</p>

<p>
  <strong>Tracker:</strong>
  <%= @robot.tracker_id %>
</p>

<% if sign_in? && (is_admin? || is_leader(Team.find_by_id(@robot.team_id).name)) %>
	<%= link_to 'Edit', edit_robot_path(@robot) %> | <%= link_to 'Delete', @robot, method: :delete, data: { confirm: 'Destroy this robot ?' } %> |
<% end %>
<%= link_to 'Back to index', robots_path %>
