<p id="notice"><%= notice %></p>

<h1>Listing Trackers</h1>

<% if is_admin? %>

  <table>
    <thead>
      <tr>
        <th>Token</th>
        <th>Description</th>
        <th>ID</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @trackers.each do |tracker| %>
        <tr>
          <td><%= tracker.token %></td>
          <td><%= tracker.description %></td>
          <td><%= tracker.id %></td>
          <td><%= link_to 'Show', tracker %></td>
          <td><%= link_to 'Edit', edit_tracker_path(tracker) %></td>
          <td><%= link_to 'Destroy', tracker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Tracker', new_tracker_path %>

<% else %>

  <h2> You do not have the rights to see the content of this page. </h2>

<% end %>
