<% provide(:title, "Trackers | Index") %>
<p id="notice"><%= notice %></p>
<%= stylesheet_link_tag 'layout/styles/dataTables.css', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'jquery.dataTables', 'data-turbolinks-track' => true %>
<h1>Listing Trackers</h1>

<% if is_admin? %>

  <table id="datatable-tracker" class="dataTable display">
    <thead>
      <tr>
        <th>Token</th>
        <th>Description</th>
        <th>ID</th>
        <th>Enabled</th>
        <th>Options</th>
      </tr>
    </thead>

    <tbody>
      <% idTrackers = []%>
      <% @trackers.each do |tracker| %>
          <% idTrackers << tracker.id %>
      <% end %>
          <% allTrackerIdSort=sortId(idTrackers) %>
          <% if allTrackerIdSort != [] %>
            <% for ii in 0..(allTrackerIdSort.size-1) %>
              <% tracker=Tracker.find_by_id(allTrackerIdSort[ii]) %>
                <tr>
                  <td><%= tracker.token %></td>
                  <td><%= tracker.description %></td>
                  <td><%= tracker.id %></td>
                  <td><%= tracker.enabled %></td>
                  <td><%= link_to 'Show', tracker %> <%= ' | '%>
                  <%= link_to 'Edit', edit_tracker_path(tracker) %> <%= ' | '%>
                  <%= link_to 'Delete', tracker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
            <% end %>
          <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Tracker', new_tracker_path %>

<% else %>

  <h2> You do not have the rights to see the content of this page. </h2>

<% end %>

<script>
 $(document).ready( function () {
    $('#datatable-tracker').DataTable({
			paging: true
		
		});
} );
</script>
