<% provide(:title, "Trackers | Show") %>
<p id="notice"><%= notice %></p>

<% if is_admin? %>

	<p>
	  <strong>Token:</strong>
	  <%= @tracker.token %>
	</p>

	<p>
	  <strong>ID:</strong>
	  <%= @tracker.id %>
	</p>

	<p>
	  <strong>Description:</strong>
	  <%= @tracker.description %>
	</p>

	<p>
	  <strong>Enabled:</strong>
	  <%= @tracker.enabled %>
	</p>

	<%= link_to 'Edit', edit_tracker_path(@tracker) %> | <%= link_to 'Delete', @tracker, method: :delete, data: { confirm: 'Destroy this tracker ?' } %> |
	<%= link_to 'Back to index', trackers_path %>

<% else %>

	<h2> You do not have the rights to see the content of this page. </h2>

<% end %>
