<p id="notice"><%= notice %></p>

<h1>Listing Missions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @missions.each do |mission| %>
      <tr>
        <td><%= link_to mission.name, mission %></td>
        <td><%= mission.description %></td>
        <td><%= link_to 'Show', mission %></td>
        <% if is_admin? %>
          <td><%= link_to 'Edit', edit_mission_path(mission) %></td>
          <td><%= link_to 'Destroy', mission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<% if sign_in(current_user) %>
  <% if is_admin? %>
  	<%= link_to 'New Mission', new_mission_path %>
   <% end %> 
<% end %>
