<% provide(:title, "Mission | Show") %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @mission.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @mission.description %>
</p>

<p>
  <strong>Start:</strong>
  <%= @mission.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @mission.end %>
</p>

<% if is_admin? %>
<%= link_to 'Edit', edit_mission_path(@mission) %> | <%= link_to 'Destroy', @mission, method: :delete, data: { confirm: 'Destroy this mission ?' } %> |
<% end %>
<%= link_to 'Back', missions_path %>
