<!DOCTYPE html>
<!--
Template Name: Cortex
Author: <a href="http://www.os-templates.com/">OS Templates</a>
Author URI: http://www.os-templates.com/
Licence: Free to use under our free template licence terms
Licence URI: http://www.os-templates.com/template-terms
-->
<html>
<body id="top">
<!-- ################################################################################################ --> 
<!-- ################################################################################################ --> 
<!-- ################################################################################################ -->

<!-- ################################################################################################ --> 
<!-- ################################################################################################ --> 
<!-- ################################################################################################ -->
<div class="wrapper bgded" style="background-image:url(<%= data["home"]["background"]["picture"] %>);">

  <div id="announce" class="clear"> 
	<!-- ########################################################################################## -->
	<div class="one_third first"><a href="<%= data["realTime"]["link"]%>">
	  <div class="hexagon"><i class="icon-play-sign"></i>
		<p class="nospace"><strong><%= data["home"]["hexagons"][0]["name"] %></strong><br><%= data["home"]["hexagons"][0]["text"] %></p>
	  </div>
	  </a></div>
	<div class="one_third "><a href="<%= data["replay"]["link"]%>">
	  <div class="hexagon"><i class="icon-calendar"></i>
		<p class="nospace"><strong><%= data["home"]["hexagons"][1]["name"] %></strong><br><%= data["home"]["hexagons"][1]["text"] %></p>
	  </div>
	  </a></div>
      <div class="one_third "><a href="<%= data["login"]["link"]%>">
    <div class="hexagon"><i class="icon-calendar"></i>
    <p class="nospace"><strong><%= data["home"]["hexagons"][2]["name"] %></strong><br><%= data["home"]["hexagons"][2]["text"] %></p>
    </div>
    </a></div>
	<!-- ########################################################################################## --> 
  </div>

</div>
<!-- ################################################################################################ --> 
<!-- ################################################################################################ --> 
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main id="container" class="clear"> 
    <!-- container body --> 
    <!-- ########################################################################################## -->
    <div class="clear center">
      <div class="one_third first">
        <div class="boxedicon"><a href="<%= data["sponsors"][0]["link"]%>"><img class="imgSponsorLogo" src= <%=  data["sponsors"][0]["picture"] %> ></div>
        <h2 class="nospace push15 uppercase"><strong><%=  data["sponsors"][0]["name"] %></strong></h2></a>
        <p><%=  data["sponsors"][0]["description"] %></p>
      </div>
      <div class="one_third">
        <div class="boxedicon"><a href="<%= data["sponsors"][1]["link"] %>"><img class="imgSponsorLogo" src= <%= data["sponsors"][1]["picture"] %> ></div>
        <h2 class="nospace push15 uppercase"><strong><%= data["sponsors"][1]["name"] %></strong></h2></a>
        <p><%= data["sponsors"][1]["description"] %></p>
      </div>
	  <div class="one_third">
        <div class="boxedicon"><a href="<%= data["sponsors"][2]["link"]%>"><img class="imgSponsorLogo" src= <%= data["sponsors"][2]["picture"] %> ></div>
        <h2 class="nospace push15 uppercase"><strong><%= data["sponsors"][2]["name"] %></strong></h2></a>
        <p><%= data["sponsors"][2]["description"] %></p>
      </div>
    </div>
	
    <!-- ########################################################################################## --> 
    <!-- / container body -->
    <div class="clear"></div>
  </main>
</div>
<!-- ################################################################################################ --> 
<!-- ################################################################################################ --> 
<!-- ################################################################################################ -->
<div class="wrapper row4">
  <footer id="footer" class="clear"> 
    <!-- ################################################################################################ -->
    <div class="one_half first">
      <h6 class="title"><%= data["home"]["questions"][0]["question"] %></h6>
      <p><%= data["home"]["questions"][0]["answer"] %></p><br>
	  <h6 class="title"><%= data["home"]["questions"][1]["question"] %></h6>
      <p><%= data["home"]["questions"][1]["answer"] %></p><br>
	  <h6 class="title"><%= data["home"]["questions"][2]["question"] %></h6>
      <p><%= data["home"]["questions"][2]["answer"] %> <a href="<%=  data["realTime"]["link"] %>"> <%= data["realTime"]["name"]%> </a> !</p>
    </div>
    <div class="one_half">


      <h6 class="title">Lorem ipsum dolor</h6>
      <address class="push30">
      Company Name<br>
      Street Name &amp; Number<br>
      Town<br>
      Postcode/Zip
      </address>
      <ul class="nospace">
        <li class="push10"><i class="icon-time"></i> Mon. - Fri. 9:00am - 7:00pm</li>
        <li class="push10"><i class="icon-phone"></i> +00 (123) 456 7890</li>
        <li><i class="icon-envelope-alt"></i> info@domain.com</li>
      </ul>
    </div>
    <div class="one_quarter">
      <h6 class="title">Lorem ipsum dolor</h6>
      <ul class="faico clear">
        <li><a class="faicon-facebook" href="#"><i class="icon-facebook"></i></a></li>
        <li><a class="faicon-pinterest" href="#"><i class="icon-pinterest"></i></a></li>
        <li><a class="faicon-twitter" href="#"><i class="icon-twitter"></i></a></li>
        <li><a class="faicon-dribble" href="#"><i class="icon-dribbble"></i></a></li>
        <li><a class="faicon-linkedin" href="#"><i class="icon-linkedin"></i></a></li>
        <li><a class="faicon-google-plus" href="#"><i class="icon-google-plus"></i></a></li>
        <li><a class="faicon-skype" href="#"><i class="icon-skype"></i></a></li>
        <li><a class="faicon-rss" href="#"><i class="icon-rss"></i></a></li>
        <li><a class="faicon-bitcoin" href="#"><i class="icon-bitcoin"></i></a></li>
        <li><a class="faicon-dropbox" href="#"><i class="icon-dropbox"></i></a></li>
        <li><a class="faicon-flickr" href="#"><i class="icon-flickr"></i></a></li>
        <li><a class="faicon-instagram" href="#"><i class="icon-instagram"></i></a></li>
        <li><a class="faicon-tumblr" href="#"><i class="icon-tumblr"></i></a></li>
        <li><a class="faicon-vk" href="#"><i class="icon-vk"></i></a></li>
        <li><a class="faicon-youtube" href="#"><i class="icon-youtube"></i></a></li>
      </ul>
    </div>
    <!-- ################################################################################################ --> 
  </footer>
</div>
<!-- ################################################################################################ --> 
<!-- ################################################################################################ --> 
<!-- ################################################################################################ -->

</body>
</html>