<!DOCTYPE html>
<html>
	<head>
		<title>	This is a test for REYNET2</title>
	</head>
	<body id="top">
		
			Quesque l'on dit? :<%=  data["layout"]["tab"][2]["tab"][0]["link"] %>"> <%= data["layout"]["tab"][2]["tab"][0]["name"]%>
			Le background est : <%= data["CSS"] %>
			Le CSS ce trouve dans: <%= data["ppppp"]["toto"] %>
			coucou <%= data["contact"]["tab"]["names"][0] %>
			coucou2 <%= data["contact"]["tab"]["lines"][1][2] %>
		</div>
	</body>
</html>