<%= form_for(@team) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div><br>
  <div class="field">
    <%= f.label :logo %>
<<<<<<< HEAD
    <%= f.file_field :logo %>
=======
    <%= f.text_field :logo %>
    <p>Must be an URL for jpeg, gif or png, 100x100 maximum.</p>
>>>>>>> 0d859b9db4a228e943aaf37b5220119c3f927359
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
  	<br>
    <%= f.submit %>
  </div>
<% end %>
