<p id="notice"><%= notice %></p>

<h1>Listing <%= @team.name%>'s Robots</h1>

<table >
  <thead>
    <tr>
      <th  >Name</th>
      <th  >Category</th>
      <th  colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @team.robots.each do |robot| %>
		    <tr>
		      <td ><%= link_to robot.name, robot %></td>
		      <td ><%= robot.category %></td>
          <td ><%= link_to 'Show', robot %></td>
          <% if sign_in? %>
            <% if is_admin? || is_leader(Team.find(robot.team_id).name) %>
    		      <td ><%= link_to 'Edit', edit_robot_path(robot) %></td>
    		      <td ><%= link_to 'Destroy', robot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          <% end %>
		    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Robot', new_robot_path %>
