<% provide(:title, "Teams | Index") %>
<p id="notice"><%= notice %></p>
<%= stylesheet_link_tag 'layout/styles/dataTables.css', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'jquery.dataTables', 'data-turbolinks-track' => true %>
<h1>Listing Teams</h1>

<table id="datatable-team" class="dataTable display" >
  <thead>
    <tr >
        <th >Team</th>
        <th >Logo</th>
        <th >Description</th>
        <th >Team Leader</th>
			<% if sign_in? %>
				<th> Options</th>			
			<% end %>
    </tr>
  </thead>

  <tbody>
		<% @teams.each do |team| %>
		<tr>
   		<td><%= link_to team.name, team %></td>
      <% logoimage= image_tag team.logo_url(:small) %>
      <td><center><%= link_to logoimage , team  %></center></td>
      <td><%= team.description %></td>
      <td><%= link_to Member.find(team.leader_id.to_i).name, Member.find(team.leader_id.to_i) %></td>  	
			<% if sign_in? %>
            <% if (is_leader(team.name) || is_admin?) %>
              <td><%= (link_to 'Show', team) + ' | ' + (link_to 'Edit', edit_team_path(team)) + ' | ' + (link_to 'Delete', team, method: :delete, data: { confirm: 'Are you sure do delete your team ? This action will also delete all the boats attached to this team.' }) %></td>
            <% elsif current_user.team.id == team.id && !is_leader(team.name) %>
              <td><%= (link_to 'Show', team)%> <%= button_to 'Leave', leave_member_path(current_user), method: :patch, data: { confirm: 'Are you sure you want to leave the team ?'} %> </td>
            <% elsif (current_user.team.id == nil) && !is_admin? %>
              <td><%= (link_to 'Show', team)%> <%= button_to 'Join', join_team_path(team), method: :patch, data: { confirm: 'Do you really want to belong to this team ?'} %> </td>
            <% else %>
              <td><%= link_to 'Show', team %></td>
            <% end %>
          <% end %>
		</tr>    
		<% end %>

  </tbody>
</table>

<br>
<% if sign_in(current_user)%>
  <% if !isInTeam? %>
	 <%= link_to 'New Team', new_team_path %>
  <% else %>
    <h2> You can only belong to one team.</h2>
  <% end %>
<% end %>

<script>
$(document).ready( function () {
    $('#datatable-team').DataTable({
			paging: true
			
		});
} );
</script>
