<% provide(:title, "Teams | Index") %>
<p id="notice"><%= notice %></p>

<h1>Listing Teams</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Logo</th>
      <th>Description</th>
      <th>Team Leader</th>    
      <th  colspan="3"></th>  
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
      	<td><%= link_to team.name, team %></td>
        <% logoimage= image_tag team.logo_url(:index) %>
        <td><center><%= link_to logoimage , team  %></center></td>
        <td><%= team.description %></td>
        <td><%= Member.find(team.leader_id.to_i).name %></td>
        <% if sign_in? && (is_leader(team.name) || is_admin?) %>
          <td><%= (link_to 'Show', team) + ' | ' + (link_to 'Edit', edit_team_path(team)) + ' | ' + (link_to 'Delete', team, method: :delete, data: { confirm: 'Are you sure do delete your team ? This action will also delete all the boats attached to this team.' }) %></td>
        <% else %>
          <td><%= link_to 'Show', team %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if sign_in(current_user)%>
  <% if !isInTeam? %>
	 <%= link_to 'New Team', new_team_path %>
  <% else %>
    <h2> You can only belong to one team.</h2>
  <% end %>
<% end %>
