<% provide(:title, "Teams | Show") %>
<p id="notice"><%= notice %></p>
<style type='text/css'>
	h1{
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	p{
		text-align: center;
	}
</style>
<h1>
  <strong>Name:</strong>
  <%= @team.name %>
</h1>

<h1>
  <strong>Logo:</strong>
  <%= image_tag @team.logo %>
</h1>

<h1>
  <strong>Description:</strong>
  <%= @team.description %>
</h1>

<h1><strong>Members :</strong></h1>
<table>
	    <tr>
			<% teammates = Member.where("team_id = ?", @team.id)%>
			<% teammates.each do |mate| %>
			 	<tbody>
					<center><td><p><%= link_to mate.name, mate.name %></p></td></center>
				</tbody>
			<% end %>
	   	</tr>
</table>

<h1>
	<strong>Robots :</strong><br>
	<% if @team.robots.size==0 %>
		 <%= @team.name%> has not created any robot yet.
	<% else %>
		<%= @team.name%> has <%= @team.robots.size %> robots 
		<%= render 'showRobots'%>
	<% end %>
</h1>
<br>
<% if sign_in? && (is_admin? || is_leader(@team.name) || @member.id == cookies.signed[:user_id]) %>
<%= link_to 'Edit', edit_team_path(@team) %> | <%= link_to 'Delete', @team, method: :delete, data: { confirm: 'Are you sure do delete your team ? This action will also delete all the boats attached to this team and kick all the members of this team.' } %> | 
<% end %>
<%= link_to 'Back to index', teams_path %>
