<% provide(:title, "Teams | Show") %>
<p id="notice"><%= notice %></p>

<p>
  <% if @team.logo!= "" and @team.logo !=nil%>
    <strong>Logo:</strong><br>
    <%= image_tag @team.logo_url(:medium) %>
  <% end %>
</p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @team.description %>
</p>

<p><strong>Members :</strong></p>
<table>
	    <tr>
			<% teammates = Member.where("team_id = ?", @team.id)%>
			<% teammates.each do |mate| %>
			 	<tbody>
					<center><td><p><%= link_to mate.name, mate.name %></p></td></center>
				</tbody>
			<% end %>
	   	</tr>
</table>

<p>
	<strong>Robots :</strong><br>
	<% if @team.robots.size==0 %>
		 <%= @team.name%> has not created any robot yet.
	<% else %>
		<%= @team.name%> has <%= @team.robots.size %> robots 
		<%= render 'showRobots'%>
	<% end %>
</p>
<br>
<% if sign_in? && (is_admin? || is_leader(@team.name) || @member.id == cookies.signed[:user_id]) %>
<%= link_to 'Edit', edit_team_path(@team) %> | <%= link_to 'Delete', @team, method: :delete, data: { confirm: 'Are you sure do delete your team ? This action will also delete all the boats attached to this team and kick all the members of this team.' } %> | 
<% end %>
<%= link_to 'Back to index', teams_path %>
