<h2>Listing Area Scanning Category MicroSailboats' Scores </h2>

<table id="datatable-score-areascanning-microsailboat" class="dataTable display" >
  <thead>
    <tr >
        <th >Rank</th>
				<th>Team</th>
        <th >Robot</th>
				<th>Attempt</th>
        <th >Timecost</th>
        <th >Rawscore</th>
				<th >H I</th>
				<th >AIS</th>
				<th>Point Penalty</th>
				<th>Final Score</th>
			<% if sign_in? %>
				<th> Options</th>			
			<% end %>
    </tr>
  </thead>
  <tbody>
		<% @microsail_scores.each do |score| %>
				<% if score!=nil %>
				<tr>
					<% if score.attempt.robot.areaRank!=nil %>
						<% if score.id== score.attempt.robot.bestAreascoreId %>
			 				<td><%= score.attempt.robot.areaRank %></td>
						<% else %>
							<td>*</td>
						<% end %>
					<% else %>
						<td>?</td>
					<% end %>
					<td><%= score.attempt.robot.team.name %></td>
				 	<td><%= score.attempt.robot.name %></td>
					<td><%= score.attempt_id%>&nbsp;&nbsp;<%= score.attempt.name%></td>
					<td><%= score.timecost %></td>
					<td><%= score.rawscore %></td>
					<% if  score.humanintervention==0 %>
						<td>No</td>	
					<% else %>
						<td>Yes</td>	
					<% end %>
					<% if   score.AIS==0 %>
						<td>No</td>	
					<% else %>
						<td>Yes</td>	
					<% end %>
					<td><%= number_with_precision(score.pointpenalty, precision: 2) %></td>  
					<td><%= number_with_precision(score.finalscore, precision: 2) %></td>   
					<% if sign_in? %>
				    <% if is_admin? %>
				      <td><%= link_to 'Edit', edit_score_path(score) %> <%=' | '%>
				      <%= link_to 'Delete', score, method: :delete, data: { confirm: 'Are you sure?' } %></td>
				    <% end %>
				  <% end %>
				</tr>  
				<% end %>
			
	
		<% end %>
  </tbody>
</table>
