<div class="row">
<%= form_for(@score) do |f| %>
  <% if @score.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@score.errors.count, "error") %> prohibited this score from being saved:</h2>
      <ul>
      <% @score.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="content">
  <section class="round">
    <% flash.each do |key, value| %>
      <div id="monflash" class="flash <%= key %>"><%= value %></div>
    <% end %>
  </section>
  <%= yield %>
  </div>

    
    <%= f.label :TimeCost %>
    <%= f.number_field :timecost %> seconds<br /><br />

    <%= f.label :RawScore %>
    <%= f.number_field :rawscore %> <br /><br />

		<%= f.check_box :humanintervention %>
		<%= f.label :humanintervention,"Human Intervention(Not collision avoidance)"%>

		<%= f.check_box :AIS %>
		<%= f.label :AIS,"AIS class B onboard and sending AIS-data meanwhile"%>

		<% case @score.attempt.mission.mtype %>
		<% when "TriangularCourse" %>
		<% when "StationKeeping" %>
		<% when "AreaScanning" %>
			<%= f.label :pointpenalty, "Point Penalty" %>
			<%= f.number_field :pointpenalty, :class => 'text_field', :step => 'any' %> points 

			<%= f.label :pointpenalty_description, "Point Penalty Description" %>
			<%= f.text_area :pointpenalty_description %> 

		<% when "Race"%>
			
			<%= f.check_box :marginten %>
			<%= f.label :marginten,"margin within 10m from markers"%>

			<%= f.label :timepenalty, "Time Penalty coefficient ( Timecost_final=timecost*(timepenalty+1) )" %> 
			<%= f.number_field :timepenalty, :class => 'text_field', :step => 'any' %><br /><br />
			<%= f.label :timepenalty_description, "Time Penalty Description" %> 
			<%= f.text_area :timepenalty_description %><br />
		<% end %>

		<%= f.label :FinalScore %>
    <%= f.number_field :finalscore %> <br /><br />
	
		<%= f.hidden_field :datetimes, :value => Time.now %>
 
  
  <p>
  <div class="actions">
    <%= f.submit %>
  </div>
  </p>
<% end %>
</div>
