<div>
<%= form_for :score, :url =>{ :action => :create} do |f| %>
	<!-- attempt_id -->
	<%= f.hidden_field :attempt_id, :value => @a_id.to_s %>

	<!-- time cost --> <!-- add by hand or calculate by fonctions-->
	<%= f.label :TimeCost %>
  <%= f.number_field :timecost %> seconds


	<input id="cal-timecost" type="button" value="Calculate the timecost Automatically"></input>

	<!-- raws core --> <!-- add by hand or calculate by fonctions-->
  <%= f.label :RawScore %>
  <%= f.number_field :amount, :class => 'text_field', :step => 'any' %>

	<!-- penalty -->   <!-- add by hand -->
	<%= f.label :Penalty %>
  <%= f.number_field :penalty %> 

	<!-- penalty description --> <!-- add by hand -->
	<%= f.label :penalty_description, "Penalty Description" %>
  <%= f.text_area :penalty_description %> 

	<!-- datetimes --> <!-- hidden -->
  <%= f.hidden_field :datetimes, :value => Time.now %>
	<div class="Action">
     <%= f.submit %>
 	</div>
 
<% end %>
</div>



