<div>
<% if @score.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@score.errors.count, "error") %> prohibited this member from being saved:</h2>
      <ul>
      <% @score.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<%= form_for @score, :url =>{ :action => :create} do |f| %>
	<!-- attempt_id -->
	<%= f.hidden_field :attempt_id, :value => @a_id.to_s %>
	<!-- layout.css:148 -->

	<%= f.check_box :humanintervention %>
	<%= f.label :humanintervention,"Human Intervention(Not collision avoidance)"%>

	<%= f.check_box :AIS %>
	<%= f.label :AIS,"AIS class B onboard and sending AIS-data meanwhile"%>
	<br />
	<!-- time cost --> <!-- add by hand or calculate by fonctions-->
	<%= f.label :TimeCost %>
  <%= f.number_field :timecost %> seconds

	<% if @mission.mtype!="AreaScanning"%>
		<input id="cal-timecost" type="button" value="Calculate the timecost Automatically"></input><br /><br />
	<% end %>
<!--===============================================================================-->

	<% case @mission.mtype %>
	<% when "TriangularCourse"%>
		
	<% when "StationKeeping"%>
		<!-- raws core --> <!-- add by hand or calculate by fonctions-->
		<%= f.label :RawScore %> 
		<%= f.number_field :rawscore, :class => 'text_field', :step => 'any' %> points 
		<input id="cal-rawscore-stationkeeping" type="button" value="Calculate the rawscore Automatically"></input><br /><br />
	<% when "AreaScanning"%>
		<%= f.label :RawScore %> 
		<%= f.number_field :rawscore, :class => 'text_field', :step => 'any' %> points 

		<%= f.label :pointpenalty, "Point Penalty" %>
		<%= f.number_field :pointpenalty, :class => 'text_field', :step => 'any' %> points 

		<%= f.label :pointpenalty_description, "Point Penalty Description" %>
		<%= f.text_area :pointpenalty_description %> 

	<% when "Race" %>
		<%= f.check_box :marginten %>
		<%= f.label :marginten,"margin within 10m from markers"%>

		
		<%= f.label :timepenalty, "Time Penalty coefficient ( Timecost_final=timecost*(timepenalty+1) )" %> 
		<%= f.number_field :timepenalty, :class => 'text_field', :step => 'any' %><br /><br />
		<%= f.label :timepenalty_description, "Time Penalty Description" %> 
		<%= f.text_area :timepenalty %><br /><br />
		
	<% end %>

	

	<!-- datetimes --> <!-- hidden -->
  <%= f.hidden_field :datetimes, :value => Time.now %>
	<div class="Action">
     <%= f.submit %>
 	</div>
 
<% end %>
</div>



