<h2>Listing Fleet Race Category Sailboats' Scores </h2>
Finished <%= @microsail_scores.length%> / All fleet race attempts <%= @microsail_atts.length%>

<table id="datatable-score-race-microsailboat" class="dataTable display" >
  <thead>
    <tr >
        <th >Rank</th>
				<th>Team</th>
        <th >Robot</th>
				<th> Attempt</th>
        <th >Timecost</th>
        <th >Final Score</th>
				<th >H I </th>
				<th >AIS</th>
				<th>Margin 10</th>
			<% if sign_in? %>
				<th> Options</th>			
			<% end %>
    </tr>
  </thead>
  <tbody>
		<% @microsail_scores.each do |score| %>
			<% if score != nil %>
			<tr>
		 		<% if score.attempt.robot.raceRank!=nil%>
					<% if score.id== score.attempt.robot.bestRacescoreId%>
		 				<td><%= score.attempt.robot.raceRank%></td>
					<% else %>
						<td>*</td>
					<% end %>
				<% else %>
					<td>?</td>
				<% end %>
				<td><%= score.attempt.robot.team.name %></td>
		   	<td><%= score.attempt.robot.name %></td>
				<td><%= score.attempt_id%>&nbsp;&nbsp;<%= score.attempt.name%></td>
				<td><%= score.timecost %></td>
				<% if score.finalscore != nil%>
					<td><%= score.finalscore %></td>
				<% else %>
					<td></td>
				<% end %>
				<% if  score.humanintervention==0 %>
					<td>No</td>	
				<% else %>
					<td>Yes</td>	
				<% end %>
				<% if score.AIS==0 %>
					<td>No</td>	
				<% else %>
					<td>Yes</td>	
				<% end %>
				<% if score.marginte0==0 %>
					<td>No</td>	
				<% else %>
					<td>Yes</td>	
				<% end %>
				<% if sign_in? %>
		      <% if is_admin? %>
		        <td><%= link_to 'Edit', edit_score_path(score) %> <%=' | '%>
		        <%= link_to 'Delete', score, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		      <% end %>
		    <% end %>
			</tr>  
			<% end %>
		<% end %>
  </tbody>
</table>
<br /><br />



