<% provide(:title, "Scores | Area Scanning") %>
<p id="notice"><%= notice %></p>
<%= stylesheet_link_tag 'layout/styles/dataTables.css', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'jquery.dataTables', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'areascanning_ranking', 'data-turbolinks-track' => true %>


<!-------------------- Area Scanning ---------------------->
<center><h1>Listing Area Scanning Scores</h1>
<% if @m!= nil %>
	From <%= @m.start%> To <%= @m.end%>
<% else %>
	Not any "area-scanning" type mission was created.
<% end %>
<br />


</center>
<br />
<% if is_admin? %>
<button id="ranking-areascanning-sailboat">Calculate the ranking (Category: Sailboat)</button><br />
<% end %>
<br />
<div id="areascanning-sailboat-table"></div>

<% if is_admin? %>
<button id="ranking-areascanning-microsailboat">Calculate the ranking (Category: MicroSailboat)</button><br /><br />
<% end %>
<div id="areascanning-microsailboat-table"></div>


<% if is_admin? %>
<%= link_to 'New Score', new_score_path %>
<% end %>

