<% provide(:title, "Scores | Index") %>
<p id="notice"><%= notice %></p>
<%= stylesheet_link_tag 'layout/styles/dataTables.css', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'jquery.dataTables', 'data-turbolinks-track' => true %>
<h1>Listing Scores</h1>

<table id="datatable-score" class="dataTable display" >
  <thead>
    <tr >
        <th >id</th>
        <th >Attempt</th>
        <th >Timecost</th>
        <th >Rawscore</th>
				<th >Penalty</th>
				<th >PenaltyDescription</th>
				<th>Calculated time</th>
			<% if sign_in? %>
				<th> Options</th>			
			<% end %>
    </tr>
  </thead>

  <tbody>
		<% @scores.each do |score| %>
		<tr>
   		<td><%= link_to score.id, score %></td>
     	<td><%= score.attempt_id%>&nbsp;&nbsp;<%= score.attempt.name%></td>
			<td><%= score.timecost %></td>
			<td><%= score.rawscore %></td>
			<td><%= score.penalty %></td>
			<td><%= score.penalty_description %></td>
			<td><%= score.datetimes %></td>  
			<% if sign_in? %>
        <% if is_admin? %>
          <td><%= link_to 'Edit', edit_score_path(score) %> <%=' | '%>
          <%= link_to 'Delete', score, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      <% end %>
		<% end %>
		</tr>  

  </tbody>
</table>



<script>
$(document).ready( function () {
    $('#datatable-score').DataTable({
			paging: true
			
		});
} );
</script>
