<!--https://www.freshdesignweb.com/free-css-tables/-->
<!--http://codepen.io/iambeccagould/pen/tbwjh-->
<!--http://codepen.io/ashblue/pen/mCtuA-->
<% provide(:title, "Scores | Index") %>
<%= stylesheet_link_tag 'scores_table.css', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'finalstanding', 'data-turbolinks-track' => true %>
<div id="score-awesome-table">
<div id="score-background-container">
<br>
<h1>WRSC 2017 FINAL STANDING</h1>
<!--table for Sailboat-->
<h2><center>Category: Sailboat</center></h2>

<br /><br />
<table id="racetimes">
  <tr id="firstrow" >
    <th>Rank</th>
    <th>Team</th>
    <th>Robot</th>
	<th><%= link_to "Station keeping", stationkeeping_path %></th>
	<th><%= link_to "Area scanning", areascanning_path %></th>
	<th><%= link_to "Collision Avoidance", triangular_path %></th>
	<th><%= link_to "Fleet race", fleetrace_path %></th>
	<th>AIS Points</th>
	<th>Final Score</th>
    
  </tr>


  <% @sailboatlist.each do |rob| %>
		  <tr >
        <td><%= rob.finalrank %></td>
			  <td ><%= rob.team.name %></td>
			  <td ><%= rob.name%></td>
				<!---------------station keeping------------------>
			  <% if rob.bestStationscoreId != nil%>
					<% score= Score.find_by_id(rob.bestStationscoreId) %>
					<td>
						<div class="big">
							<font color="red"><%= number_with_precision(score.finalscore, precision: 2) %></font><br />
						</div>
						<div class="small">
							<font color="green"><%= score.timecost %></font>
						</div>
					</td>
				<% else %>
					<td>?</td>
				<% end %>
				<!---------------area scanning-------------------->
			  <% if rob.bestAreascoreId != nil%>
					<% score= Score.find_by_id(rob.bestAreascoreId)   %>
					<td>
						<div class="big">
							<font color="red"><%= number_with_precision(score.finalscore, precision: 2) %></font><br />
						</div>
						<div class="small">
							<font color="green"><%= score.timecost %></font>
						</div>
						
					</td>
				<% else %>
					<td>?</td>
				<% end %>
				<!---------------triangular------------------>
			  <% if rob.bestTriangularscoreId != nil%>
					<% score= Score.find_by_id(rob.bestTriangularscoreId ) %>
					<td>
						<div class="big">
							<font color="red"><%= number_with_precision(score.finalscore, precision: 2) %></font><br />
						</div>
						<div class="small">
							<font color="green"><%= score.timecost %></font>
						</div>
						
					</td>
				<% else %>
					<td>?</td>
				<% end %>
				<!---------------fleet race------------------>
		  	<% if rob.bestRacescoreId != nil%>
					<% score= Score.find_by_id(rob.bestRacescoreId  ) %>
					<td>
						<div class="big">
							<font color="red"><%= number_with_precision(score.finalscore, precision: 2) %></font><br />
						</div>
						<div class="small">
							<font color="green"><%= score.timecost %></font>
						</div>
					</td>
				<% else %>
					<td>?</td>
				<% end %>
				<td><%= rob.aispoints%></td>
				<td><%= rob.finalscore%></td>
	  	</tr>				
     
  <% end %>

</table>

<!--table for MicroSailboat-->
<h2><center>Category: MicroSailboat</center></h2>
<table id="racetimes">
  <tr id="firstrow" >
    <th>Rank</th>
    <th>Team</th>
    <th>Robot</th>
	<th><%= link_to "Station keeping", stationkeeping_path %></th>
	<th><%= link_to "Area scanning", areascanning_path %></th>
	<th><%= link_to "Collision Avoidance", triangular_path %></th>
	<th><%= link_to "Fleet race", fleetrace_path %></th>
	<th>Final Score</th>
   
  </tr>

 
  <% @microSailboatlist.each do |rob| %>
<tr >
        <td><%= rob.finalrank %></td>
			  <td ><%= rob.team.name %></td>
			  <td ><%= rob.name%></td>
				<!---------------station keeping------------------>
			  <% if rob.bestStationscoreId != nil%>
					<% score= Score.find_by_id(rob.bestStationscoreId) %>
					<td>
						<div class="big">
							<font color="red"><%= number_with_precision(score.finalscore, precision: 2) %></font><br />
						</div>
						<div class="small">
							<font color="green"><%= score.timecost %></font>
						</div>
					</td>
				<% else %>
					<td>?</td>
				<% end %>
				<!---------------area scanning-------------------->
			  <% if rob.bestAreascoreId != nil%>
					<% score= Score.find_by_id(rob.bestAreascoreId)   %>
					<td>
						<div class="big">
							<font color="red"><%= number_with_precision(score.finalscore, precision: 2) %></font><br />
						</div>
						<div class="small">
							<font color="green"><%= score.timecost %></font>
						</div>
						
					</td>
				<% else %>
					<td>?</td>
				<% end %>
				<!---------------triangular------------------>
			  <% if rob.bestTriangularscoreId != nil%>
					<% score= Score.find_by_id(rob.bestTriangularscoreId ) %>
					<td>
						<div class="big">
							<font color="red"><%= number_with_precision(score.finalscore, precision: 2) %></font><br />
						</div>
						<div class="small">
							<font color="green"><%= score.timecost %></font>
						</div>
						
					</td>
				<% else %>
					<td>?</td>
				<% end %>
				<!---------------fleet race------------------>
		  	<% if rob.bestRacescoreId != nil%>
					<% score= Score.find_by_id(rob.bestRacescoreId  ) %>
					<td>
						<div class="big">
							<font color="red"><%= number_with_precision(score.finalscore, precision: 2) %></font><br />
						</div>
						<div class="small">
							<font color="green"><%= score.timecost %></font>
						</div>
					</td>
				<% else %>
					<td>?</td>
				<% end %>
				<td><%= rob.finalscore%></td>
	  	</tr>				
  
		<% end %>
</table>

<br />
</div>
</div>

