<!--https://www.freshdesignweb.com/free-css-tables/-->
<!--http://codepen.io/iambeccagould/pen/tbwjh-->
<!--http://codepen.io/ashblue/pen/mCtuA-->
<% provide(:title, "Scores | Index") %>
<%= stylesheet_link_tag 'scores_table.css', media: 'all', 'data-turbolinks-track' => true %>
<div id="score-awesome-table">
<div id="score-background-container">
<br>
<h1>WRSC 2015 FINAL STANDING</h1>
<table id="racetimes">
  <tr id="firstrow">
    <th>#</th>
    <th>Team</th>
    <th>Robot</th>
		<th>Category</th>
    <th>Race</th>
    <th>Triangular Course</th>
    <th>Station Keeping</th>
    <th>Area Scanning</th>
  </tr>
    <% i=1 %>
  	<% @teamlist.each do |team| %>
      <% roblist=team.robots   %>
  	  <% roblist.each do |rob| %>
  		  <tr>
          <td><%= i %></td>
				  <td ><%= team.name %></td>
				  <td ><%= rob.name%></td>
				  <td ><%= rob.category%></td>
				  <td >1</td>
				  <td >2</td>
				  <td >3</td>
			  	<td >4</td>
		  	</tr>				
        <% i+=1%>
		  	<% end %>
	  <% end %>
</table>
<p><%= link_to "New score", new_score_path %></p>
</div>
</div>

