<!-- this view was made only for testing -->

<% provide(:title, "Scores | show") %>
<p id="notice"><%= notice %></p>

  <% attempt = Attempt.find_by_id(@score.attempt_id) %> 
  <% mission = Mission.find_by_id(attempt.mission_id) %>
  <h1> <%= "Score of attempt "+ attempt.name + " for the mission "+ mission.name %></h1>

    <p>
      <strong>Mission:</strong>
      <%= "Mission n°"+mission.id.to_s+", "+Mission.find(attempt.mission_id).name %>
    </p>

    <p>
      <strong>Attempt:</strong>
      <%= "Attempt n°"+@score.attempt_id.to_s+", "+attempt.name %>
    </p>

    <p>
      <strong>Robot:</strong>
      <%= "Robot n°"+attempt.robot_id.to_s+", "+Robot.find(attempt.robot_id).name+", "+Robot.find(attempt.robot_id).category %>
    </p>

    <p>
      <strong>Time scored:</strong>
      <%= @score.timecost %>
    </p>

    <p>
      <strong>Score:</strong>
      <% if @score.rawscore != nil %>
        <%= @score.rawscore.to_s+' points' %>
      <% end %>
    </p>

<%= link_to 'Back to index', scores_path %>
