<!-- this view was made only for testing -->
<%= javascript_include_tag 'score', 'data-turbolinks-track' => true %>

<% provide(:title, "Scores | New") %>

<h1>New Score</h1>

<%= form_for(:score) do |f| %>
	<%= f.label :Attempt_id %>
  <%= f.number_field :attempt_id %>
	<br /><br />

	<!-- time cost --> <!-- add by hand or calculate by fonctions-->
	<%= f.label :TimeCost %>
  <%= f.number_field :timecost %> seconds
	<br /><br />

	<!-- raws core --> <!-- add by hand or calculate by fonctions-->
  <%= f.label :RawScore %>
  <%= f.number_field :rawscore %> 
	<br /><br />

	<!-- penalty -->   <!-- add by hand -->
	<%= f.label :Penalty %>
  <%= f.number_field :penalty %> 
	<br /><br />

	<!-- penalty description --> <!-- add by hand -->
	<%= f.label :penalty_description, "Penalty Description" %>
  <%= f.text_area :penalty_description %>
	<br /><br />

	<!-- datetimes --> <!-- hidden -->
  <%= f.hidden_field :datetimes, :value => Time.now %>
	<div class="actions">
    <%= f.submit %>
  </div>
 
<% end %>



</div>



